*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
.logo_connexion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.logo_connexion .logo{
    width: 100px;
    margin-left: 25px;
}
.logo_connexion .signup_link{
    text-decoration: none;
    color:#0065FC;
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 9px 25px 0 0;
}
.navigation{
    width: 100vw;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.navigation .nav_link1 , .navigation .nav_link2{
    display: inline-block;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 15px 0px;
    position: relative;
    
    
}
.navigation .nav_link1{
    color:#0065FC;
    grid-column: 1/2;
}
.navigation .nav_link2{
    color: rgba(0, 0, 0,0.8);
    grid-column: 2/3;
}
.nav_link1::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #0065FC;
    position: absolute;
    bottom: 0;
    left: 0;
    

}
.nav_link2::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color:#F2F2F2;
    position: absolute;
    bottom: 0;
    left: 0;

}

/* first section */

.section1{
    margin-top: 40px;
}
.section1 h1{
    margin-left: 25px;
    width: 85%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;

}
.section1 h3{
    margin-left: 25px;
    margin-top: 15px;
    width: 85%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.input{
    margin-top: 40px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    width: 320px;
}
#search{
    border: none;
    height: 50px;
    width: 220px;
    font-size: 1.2rem;
    text-indent: 10px;
    
}
#search:focus{
    outline-style: none
}
.icon1 , .icon2{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon2{
    background-color: #0065FC;
    color: #FFF;
    border-radius: 15px;
    cursor: pointer;
}
.icon1{
    background-color: #F2F2F2;
    color: #000;
    border-radius: 15px;
}
#search::placeholder{
    color: #000;
    font-size: 1.2rem;
    text-indent: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.section1 h2{
    margin: 40px 0 25px 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.filtres{
    margin: 0 0 0 25px;
}
.filtres a{
    display: inline-block;
    width: 180px;
    height: 48px;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0 5px 5px 0;
    border: 3px solid #F2F2F2;
    border-radius: 20px;
    position: relative;
}
.filtres a .filtre_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 100%;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 20px;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: -4px;
}
.filtres a .filtre_text{
    position: absolute;
    top: 10px;
    left: 50px;
}
#second{
    width: 140px;
}
#third{
    width: 173px;
}
#fourth{
    width: 220px;
}

.section1 .info {
    margin: 25px 0 0 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    display: flex;

}

.section1 .info .info_circle{
    color: #0065FC;
    font-size: 1.4rem;
    display: inline-block;
    width: 35px;
    height: 30px;
    text-align: center;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    margin-right: 5px;
    position: relative;
}
.section1 .info .info_text{
    margin: 6px 0px 0px 6px ;
}
.info .info_circle .fa-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 0.8rem;
}

/* seconde section */
.section2{
    background-color: #F2F2F2;
    padding-bottom: 35px;
}
.section2 .popular{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
    margin: 35px 0 25px 25px; 
    padding-top: 35px;

}
.section2 .popular h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
}
.section2 .popular i{
    font-size: 1.4rem;
}
.section2 .card{
    height: 120px;
    background-color: #FFF;
    border-radius: 20px;
    margin:0 25px 10px 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 1px;
    position: relative;
}
.section2 .card img{
    height: 100% ;
    width: 42%;
    border-radius: 20px 0 0 20px;
    padding: 5px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.section2 .card .card-content{
    height: 100% ;
    width: 58%;
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
}
.section2 .card .card-content h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    width: 80%;
    margin: 10px 0 10px 10px;
}
.section2 .card .card-content p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0 0 0 10px;
}
.section2 .card .card-content .stars{
    font-size: 0.6rem;
    margin: 25px 0 0 10px;
    color: #0065FC;
}
.section2 .seconde_card .star5 , .section2 .third_card .star5{
    color: #F2F2F2;
}

/* third section */

.section3 h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 40px 0px 25px 25px;
}
.section3 .card{
    height: 200px;
    border-radius: 20px;
    margin:0 25px 20px 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 1px;
    position: relative;
}
.section3 .card img{
    height: 65% ;
    width: 100%;
    padding: 5px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    position: absolute;
    top: 0;
}
.section3 .card .card-content{
    height: 35% ;
    width: 100%;
    color: #000;
    position: absolute;
    bottom: 0;
    right: 0;
}
.section3 .card .card-content h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    width: 80%;
    margin: 5px 0 5px 15px;
    
}
.section3 .card .card-content p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0 0 0 15px;
}
.section3 .card .card-content .stars{
    font-size: 0.6rem;
    margin: 5px 0 0 15px;
    color: #0065FC;
}

.section3 .card1 .star5 , .section3 .card3 .star5 , .section3 .card5 .star5{
    color: #F2F2F2;
}
.section3 .card4 .star4 , .section3 .card4 .star5{
    color: #F2F2F2;
}
.section3 .see_more{
    text-decoration: none;
    color: #000;
    margin: 25px 0 25px 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

/* fourth section */
.section4 h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 40px 0px 25px 25px;
}
.section4 .card{
    height: 200px;
    border-radius: 20px;
    margin:0 25px 20px 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 1px;
    position: relative;
}

.section4 .card img{
    height: 75% ;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    position: absolute;
    top: 0;
}
.section4 .card h3{
    color: #000;
    position: absolute;
    bottom: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    width: 80%;
    margin: 5px 0 15px 15px;
}

/* footer */

.footer{
    background-color: #F2F2F2; 
    margin-top: 35px;
}

.footer > div{
    padding: 25px 0 15px 25px;

}

.footer > div > h2{
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.footer > div > a{
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}